@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;0,900;1,600;1,900&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}

html,
body
{
  display: grid;
  height: 100%;
  width: 100%;
}

body
{
  background-color: #F0877F;
  color: rgb(37, 34, 32);
  font-family: "Poppins", sans-serif;
}

.centralizado
{
  background-color: #FFF9F2;
  border-radius: 20px;
  margin: auto;
  padding: 2em;
}

.descricao
{
  background-color: #FFF9F2;
  border: 1px solid #53011F;
  border-radius: 20px;
}

.info,
form
{
  padding: 2em;
}

hr
{
  border: none;
  border-top: medium double #53011F;
  color: #53011F;
  overflow: visible;
  padding: 0;
  text-align: center;
}

hr:after
{
  background: #FFF9F2;
  content: "§";
  display: inline-block;
  font-size: 1.5em;
  padding: 0 0.25em;
  position: relative;
  top: -0.7em;
}

h1
{
  font-weight: 900;
}

h2
{
  font-weight: 600;
}

h1, h2
{
  font-family: "Bitter", serif;
}

p
{
  font-size: 16px;
}

.grupo-de-caixa
{
  margin: 20px;
}

label
{
  display: inline-block;
  width: 320px;
}

label,
input,
select
{
  font-size: 16px;
  padding: 5px;
}

button,
label,
input,
select
{
  font-family: "Poppins", sans-serif;
}

input,
select
{
  background-color: white;
  border: 1px solid #53011F;
  width: 250px;
}

input:hover, input:focus, input:active, input:focus-visible, input:focus-within,
select:hover, select:focus, select:active, select:focus-visible, select:focus-within
{
  border: 1px solid #DC645F;
  outline: 0;
}

select
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: inherit;
  display: inline-block;
  line-height: inherit;
  margin: 0;
}

button
{
  margin-left: 325px;
  margin-top: 10px;
  padding: 5px;
  width: 250px;
}

button,
#cadastrar
{
  background-color: #53011F;
  border: none;
  border-radius: 3px;
  color: #FFF9F2;
  font-family: "Bitter", serif;
}

button:hover,
#cadastrar:hover
{
  background-color: #DC645F;
}

#cadastrar
{
  display: block;
  margin: 0 auto;
}
